.jumbotron {
    background-color: transparent;
    width: 75%;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.container-jumbo {
    width: 90%;
    margin: 0;
    float: left;
}

.container-text {
    margin: 0 auto;
    text-align: center;
}

.container-text .display-4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#jumbo-logo {
    width: 350px;
    margin-top: -110px;
    margin-bottom: 25px;
}

#test {
    font-weight: bold;
    text-transform: uppercase;
}